# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Entornos de configuración
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de compilación y caché
dist/
build/
coverage/

# Archivos temporales de editor
*.log
*.tmp
*.bak
*.swp
